apiVersion: v1
kind: PersistentVolume
metadata:
  name: read-pv
spec:
  capacity:
    storage: 5Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  csi:
    driver: efs.csi.aws.com
    volumeHandle: EFS_FILE_SYSTEM_ID
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: read-pvc
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
  storageClassName: ""
  volumeName: read-pv