apiVersion: v1
kind: Pod
metadata:
  name: nvidia-smi
spec:
  containers:
    - name: al2023
      image: public.ecr.aws/amazonlinux/amazonlinux:2023-minimal
      command:
        - /bin/sh
        - -c
      args:
        - nvidia-smi && tail -f /dev/null
      resources:
        requests:
          nvidia.com/gpu: 1
        limits:
          nvidia.com/gpu: 1
  restartPolicy: OnFailure
  tolerations:
    - key: nvidia.com/gpu
      operator: Equal
      value: 'true'
      effect: NoSchedule